<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- jedis客户端单机版 -->
    <bean id="redisClient" class="redis.clients.jedis.JedisPool">
        <constructor-arg name="host" value="192.168.153.130"></constructor-arg>
        <constructor-arg name="port" value="6379"></constructor-arg>
    </bean>

    <bean id="jedisClient" class="xyz.thishome.order.dao.impl.JedisClientSingle">
        <constructor-arg name="redisClient" ref="redisClient"></constructor-arg>
    </bean>

    <!--集群版-->
    <!--<bean id="redisClient" class="redis.clients.jedis.JedisCluster">-->
    <!--<constructor-arg name="nodes">-->
    <!--<set>-->
    <!--<bean class="redis.clients.jedis.HostAndPort">-->
    <!--<constructor-arg name="host" value="192.168.153.130"></constructor-arg>-->
    <!--<constructor-arg name="port" value="7001"></constructor-arg>-->
    <!--</bean>-->
    <!--<bean class="redis.clients.jedis.HostAndPort">-->
    <!--<constructor-arg name="host" value="192.168.153.130"></constructor-arg>-->
    <!--<constructor-arg name="port" value="7002"></constructor-arg>-->
    <!--</bean>-->
    <!--<bean class="redis.clients.jedis.HostAndPort">-->
    <!--<constructor-arg name="host" value="192.168.153.130"></constructor-arg>-->
    <!--<constructor-arg name="port" value="7003"></constructor-arg>-->
    <!--</bean>-->
    <!--<bean class="redis.clients.jedis.HostAndPort">-->
    <!--<constructor-arg name="host" value="192.168.153.130"></constructor-arg>-->
    <!--<constructor-arg name="port" value="7004"></constructor-arg>-->
    <!--</bean>-->
    <!--<bean class="redis.clients.jedis.HostAndPort">-->
    <!--<constructor-arg name="host" value="192.168.153.130"></constructor-arg>-->
    <!--<constructor-arg name="port" value="7005"></constructor-arg>-->
    <!--</bean>-->
    <!--<bean class="redis.clients.jedis.HostAndPort">-->
    <!--<constructor-arg name="host" value="192.168.153.130"></constructor-arg>-->
    <!--<constructor-arg name="port" value="7006"></constructor-arg>-->
    <!--</bean>-->
    <!--</set>-->
    <!--</constructor-arg>-->
    <!--</bean>-->

    <!--<bean id="jedisClient" class="xyz.thishome.order.dao.impl.JedisClientCluster">-->
    <!--<constructor-arg name="redisClient" ref="redisClient"></constructor-arg>-->
    <!--</bean>-->

</beans>